---
import { SITE_OWNER } from "../consts";
import { Image } from "astro:assets";
import Avatar from "../components/Avatar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BackgroundGrid from "../components/BackgroundGrid.astro";
---

<BaseLayout>
	<BackgroundGrid />
	<main
		class="mx-auto
				flex
				min-h-dvh
				max-w-6xl
				flex-col
				items-center
				justify-center
				gap-12
				px-6
				md:flex-row
				md:gap-12"
	>
		<!-- Left -->

		<section
			class="flex
					flex-col
					items-center
					text-center
					md:items-center
					md:text-left"
		>
			<Avatar src={SITE_OWNER.avatar} alt="Avatar" />
			<h1 class="mt-6
						text-3xl
						font-bold">{SITE_OWNER.name}</h1>
		</section>

		<!-- Right -->
		<section class="max-w-2xl
					text-center
					md:text-left">
			<h2 class="text-4xl
						font-serif
						font-bold
						md:text-5xl">
				{SITE_OWNER.bio}
			</h2>

			<p class="mt-6
						text-lg
						text-muted-foreground
						md:text-xl">
				{SITE_OWNER.description}
			</p>
		</section>
	</main>
</BaseLayout>
